$tile-font: "Arial", "Helvetica Neue", Helvetica, sans-serif;
$primary-font: "Georgia", "Times", "Times New Roman", "serif";
$jBlue: #060ce9;

%block {
    background-color: $jBlue;
    font-family: $tile-font;
    font-size: 3rem;
    text-align: center;
    width: 50px;
    height: 75px;
    border: 0.5px solid white;
    margin: 8px;
    float: left;
    padding-top: 10px;
}

%gamebox {
    font-family: $tile-font;
    font-size: 3rem;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px;
    margin: 15px auto 15px auto;
    border-radius: 3px;
}

body {
    font-family: $primary-font;
}

.container {
    background-image: url("../images/bkg.jpg");
    background-repeat: repeat;
    padding: 50px;
}

.content {
    margin: auto;
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #666;
}
#logo {
    margin-bottom: 30px;
}

#playButton {
    margin-bottom: 40px;
    text-align: center;
}
button, button:focus, button:hover {
    background-color: $jBlue;
    color: white;
    
}

letterBlock {
    @extend %block;
    color: white;
    font-size: 0;
}

spaceBlock {
    @extend %block;
    background-color: white;
    border: 1px solid #ccc;
}

completedBlock {
    @extend %block;
    color: white;
    font-size: 3rem;
}

wrongLetterBlock {
    @extend %block;
    background-color: red;
    color: white;
    font-size: 3rem;
}

wrongLetterBox {
    width:230px;
    float:left;
}

winsBlock {
    @extend %block;
    color: white;
    float: right;
}

lossesBlock {
    @extend %block;
    background-color: red;
    color: white;
}

#clue {
    @extend %gamebox;
    width: 60%;
}

#category {
    @extend %gamebox;
    padding: 5px;

}

#userAnswer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

#wrongLettersText {
    margin-top: 20px;
    font-size: 2.5rem;
}

#gameStatus {
    @extend %gamebox;
}



#userWins {
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    color: $jBlue;
}

#userLosses {
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    color: red;
}